{
  "presets": ["env", "react"],
  "plugins": [
    "transform-custom-element-classes",
    "transform-es2015-classes",
    "transform-object-rest-spread",
    "syntax-class-properties",
    "transform-class-properties"
  ]
}
